/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.05;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
}
@media screen and (max-width: 1088px) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #00fff0 0, #00fff0 6.38298%, transparent 6.38298%, transparent 8.51064%, #00fff0 8.51064%, #00fff0 14.89362%, transparent 14.89362%, transparent 17.02128%, #00fff0 17.02128%, #00fff0 23.40426%, transparent 23.40426%, transparent 25.53191%, #00fff0 25.53191%, #00fff0 31.91489%, transparent 31.91489%, transparent 34.04255%, #00fff0 34.04255%, #00fff0 40.42553%, transparent 40.42553%, transparent 42.55319%, #00fff0 42.55319%, #00fff0 48.93617%, transparent 48.93617%, transparent 51.06383%, #00fff0 51.06383%, #00fff0 57.44681%, transparent 57.44681%, transparent 59.57447%, #00fff0 59.57447%, #00fff0 65.95745%, transparent 65.95745%, transparent 68.08511%, #00fff0 68.08511%, #00fff0 74.46809%, transparent 74.46809%, transparent 76.59574%, #00fff0 76.59574%, #00fff0 82.97872%, transparent 82.97872%, transparent 85.10638%, #00fff0 85.10638%, #00fff0 91.48936%, transparent 91.48936%, transparent 93.61702%, #00fff0 93.61702%, #00fff0 100.0%, transparent 100.0%);
  }
}
@media screen and (max-width: 768px) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 9.67742%, transparent 9.67742%, transparent 12.90323%, #00fff0 12.90323%, #00fff0 22.58065%, transparent 22.58065%, transparent 25.80645%, #00fff0 25.80645%, #00fff0 35.48387%, transparent 35.48387%, transparent 38.70968%, #00fff0 38.70968%, #00fff0 48.3871%, transparent 48.3871%, transparent 51.6129%, #00fff0 51.6129%, #00fff0 61.29032%, transparent 61.29032%, transparent 64.51613%, #00fff0 64.51613%, #00fff0 74.19355%, transparent 74.19355%, transparent 77.41935%, #00fff0 77.41935%, #00fff0 87.09677%, transparent 87.09677%, transparent 90.32258%, #00fff0 90.32258%, #00fff0 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 9.67742%, transparent 9.67742%, transparent 12.90323%, #00fff0 12.90323%, #00fff0 22.58065%, transparent 22.58065%, transparent 25.80645%, #00fff0 25.80645%, #00fff0 35.48387%, transparent 35.48387%, transparent 38.70968%, #00fff0 38.70968%, #00fff0 48.3871%, transparent 48.3871%, transparent 51.6129%, #00fff0 51.6129%, #00fff0 61.29032%, transparent 61.29032%, transparent 64.51613%, #00fff0 64.51613%, #00fff0 74.19355%, transparent 74.19355%, transparent 77.41935%, #00fff0 77.41935%, #00fff0 87.09677%, transparent 87.09677%, transparent 90.32258%, #00fff0 90.32258%, #00fff0 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 9.67742%, transparent 9.67742%, transparent 12.90323%, #00fff0 12.90323%, #00fff0 22.58065%, transparent 22.58065%, transparent 25.80645%, #00fff0 25.80645%, #00fff0 35.48387%, transparent 35.48387%, transparent 38.70968%, #00fff0 38.70968%, #00fff0 48.3871%, transparent 48.3871%, transparent 51.6129%, #00fff0 51.6129%, #00fff0 61.29032%, transparent 61.29032%, transparent 64.51613%, #00fff0 64.51613%, #00fff0 74.19355%, transparent 74.19355%, transparent 77.41935%, #00fff0 77.41935%, #00fff0 87.09677%, transparent 87.09677%, transparent 90.32258%, #00fff0 90.32258%, #00fff0 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 9.67742%, transparent 9.67742%, transparent 12.90323%, #00fff0 12.90323%, #00fff0 22.58065%, transparent 22.58065%, transparent 25.80645%, #00fff0 25.80645%, #00fff0 35.48387%, transparent 35.48387%, transparent 38.70968%, #00fff0 38.70968%, #00fff0 48.3871%, transparent 48.3871%, transparent 51.6129%, #00fff0 51.6129%, #00fff0 61.29032%, transparent 61.29032%, transparent 64.51613%, #00fff0 64.51613%, #00fff0 74.19355%, transparent 74.19355%, transparent 77.41935%, #00fff0 77.41935%, #00fff0 87.09677%, transparent 87.09677%, transparent 90.32258%, #00fff0 90.32258%, #00fff0 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #00fff0 0, #00fff0 9.67742%, transparent 9.67742%, transparent 12.90323%, #00fff0 12.90323%, #00fff0 22.58065%, transparent 22.58065%, transparent 25.80645%, #00fff0 25.80645%, #00fff0 35.48387%, transparent 35.48387%, transparent 38.70968%, #00fff0 38.70968%, #00fff0 48.3871%, transparent 48.3871%, transparent 51.6129%, #00fff0 51.6129%, #00fff0 61.29032%, transparent 61.29032%, transparent 64.51613%, #00fff0 64.51613%, #00fff0 74.19355%, transparent 74.19355%, transparent 77.41935%, #00fff0 77.41935%, #00fff0 87.09677%, transparent 87.09677%, transparent 90.32258%, #00fff0 90.32258%, #00fff0 100.0%, transparent 100.0%);
  }
}
@media screen and (max-width: 480px) {
  body:before {
    background-image: -webkit-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 13.04348%, transparent 13.04348%, transparent 17.3913%, #00fff0 17.3913%, #00fff0 30.43478%, transparent 30.43478%, transparent 34.78261%, #00fff0 34.78261%, #00fff0 47.82609%, transparent 47.82609%, transparent 52.17391%, #00fff0 52.17391%, #00fff0 65.21739%, transparent 65.21739%, transparent 69.56522%, #00fff0 69.56522%, #00fff0 82.6087%, transparent 82.6087%, transparent 86.95652%, #00fff0 86.95652%, #00fff0 100.0%, transparent 100.0%);
    background-image: -moz-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 13.04348%, transparent 13.04348%, transparent 17.3913%, #00fff0 17.3913%, #00fff0 30.43478%, transparent 30.43478%, transparent 34.78261%, #00fff0 34.78261%, #00fff0 47.82609%, transparent 47.82609%, transparent 52.17391%, #00fff0 52.17391%, #00fff0 65.21739%, transparent 65.21739%, transparent 69.56522%, #00fff0 69.56522%, #00fff0 82.6087%, transparent 82.6087%, transparent 86.95652%, #00fff0 86.95652%, #00fff0 100.0%, transparent 100.0%);
    background-image: -ms-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 13.04348%, transparent 13.04348%, transparent 17.3913%, #00fff0 17.3913%, #00fff0 30.43478%, transparent 30.43478%, transparent 34.78261%, #00fff0 34.78261%, #00fff0 47.82609%, transparent 47.82609%, transparent 52.17391%, #00fff0 52.17391%, #00fff0 65.21739%, transparent 65.21739%, transparent 69.56522%, #00fff0 69.56522%, #00fff0 82.6087%, transparent 82.6087%, transparent 86.95652%, #00fff0 86.95652%, #00fff0 100.0%, transparent 100.0%);
    background-image: -o-linear-gradient(left, transparent 0, #00fff0 0, #00fff0 13.04348%, transparent 13.04348%, transparent 17.3913%, #00fff0 17.3913%, #00fff0 30.43478%, transparent 30.43478%, transparent 34.78261%, #00fff0 34.78261%, #00fff0 47.82609%, transparent 47.82609%, transparent 52.17391%, #00fff0 52.17391%, #00fff0 65.21739%, transparent 65.21739%, transparent 69.56522%, #00fff0 69.56522%, #00fff0 82.6087%, transparent 82.6087%, transparent 86.95652%, #00fff0 86.95652%, #00fff0 100.0%, transparent 100.0%);
    background-image: linear-gradient(to left, transparent 0, #00fff0 0, #00fff0 13.04348%, transparent 13.04348%, transparent 17.3913%, #00fff0 17.3913%, #00fff0 30.43478%, transparent 30.43478%, transparent 34.78261%, #00fff0 34.78261%, #00fff0 47.82609%, transparent 47.82609%, transparent 52.17391%, #00fff0 52.17391%, #00fff0 65.21739%, transparent 65.21739%, transparent 69.56522%, #00fff0 69.56522%, #00fff0 82.6087%, transparent 82.6087%, transparent 86.95652%, #00fff0 86.95652%, #00fff0 100.0%, transparent 100.0%);
  }
}

input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #2c5999;
  color: #fff;
}
input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: 600;
  margin-bottom: 0.375em;
}
label.required::after {
  content: "*";
}
label abbr {
  display: none;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%;
}
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #c4c4c4;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear;
}
a:active, a:focus, a:hover {
  color: #2c5999;
}
a:active, a:focus {
  outline: none;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  width: 68em;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px dotted #00fff0;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1088px) {
  .container {
    width: auto;
  }
}

.row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}

/*# sourceMappingURL=layout.css.map */
